package {{package}};

import java.io.IOException;

{{#imports}}import {{import}};
{{/imports}}

import java.util.ArrayList;
import java.util.HashMap;
import java.util.List;
import java.util.Map;

{{#operations}}
{{#operation}}
public class {{operationIdCamelCase}}Params extends ApiRequestParam {
    {{! defining all of the params required to operate the resource methods }}
    {{#requiredParams}}
    {{^isBodyParam}}
    {{{dataType}}} {{paramName}};
    {{/isBodyParam}}
    {{#isBodyParam}}
    {{#hasVars}}
    {{#vars}}
    {{{dataType}}} {{name}};
    {{/vars}}
    {{/hasVars}}
    {{/isBodyParam}}
    {{/requiredParams}}

    private {{operationIdCamelCase}}Params(
        {{#requiredParams}}
        {{^isBodyParam}}
        {{{dataType}}} {{paramName}}{{^-last}}, {{/-last}}
        {{/isBodyParam}}
        {{#isBodyParam}}
        {{#hasVars}}
        {{#vars}}
        {{{dataType}}} {{name}}{{^-last}}, {{/-last}}
        {{/vars}}
        {{/hasVars}}
        {{/isBodyParam}}
        {{/requiredParams}}
    ){
        {{#requiredParams}}
        {{^isBodyParam}}
        this.{{paramName}} = {{paramName}};
        {{/isBodyParam}}
        {{#isBodyParam}}
        {{#hasVars}}
        {{#vars}}
        this.{{name}} = {{name}};
        {{/vars}}
        {{/hasVars}}
        {{/isBodyParam}}
        {{/requiredParams}}
    }

    public static Builder builder() {
        return new Builder();
    }

    public static class Builder {
        {{#requiredParams}}
        {{^isBodyParam}}
        private {{{dataType}}} {{paramName}};
        {{/isBodyParam}}
        {{#isBodyParam}}
        {{#hasVars}}
        {{#vars}}
        private {{{dataType}}} {{name}};
        {{/vars}}
        {{/hasVars}}
        {{/isBodyParam}}
        {{/requiredParams}}

        public {{operationIdCamelCase}}Params build() {
            return new {{operationIdCamelCase}}Params(
                {{#requiredParams}}
                {{^isBodyParam}}
                {{paramName}}{{^-last}},{{/-last}}
                {{/isBodyParam}}
                {{#isBodyParam}}
                {{#hasVars}}
                {{#vars}}
                {{name}}{{^-last}},{{/-last}}
                {{/vars}}
                {{/hasVars}}
                {{/isBodyParam}}
                {{/requiredParams}}
            );
        }

        {{#requiredParams}}
        {{^isBodyParam}}
        public Builder set{{#lambda.titlecase}}{{paramName}}{{/lambda.titlecase}}({{{dataType}}} {{paramName}}) {
            this.{{paramName}} = {{paramName}};
            return this;
        }
        {{/isBodyParam}} 
        {{/requiredParams}}
        {{#requiredParams}}
        {{#isBodyParam}}
        {{#hasVars}}
        {{#vars}}
        public Builder set{{#lambda.titlecase}}{{name}}{{/lambda.titlecase}}({{{dataType}}} {{name}}) {
            this.{{name}} = {{name}};
            return this;
        }
        {{/vars}}
        {{/hasVars}}
        {{/isBodyParam}}
        {{/requiredParams}}
    }

    {{#requiredParams}}
    {{#isBodyParam}}
    {{#hasVars}}
    {{#vars}}
    {{#isModel}}
    public static class {{{nameInCamelCase}}}() {
        this.{{name}} = {{name}};
        return this;
    }
    {{/isModel}}
    {{/vars}}
    {{/hasVars}}
    {{/isBodyParam}}
    {{/requiredParams}}
}
{{/operation}}
{{/operations}}