{{#vars}}
{{#isModel}}
{{! Recursively defining a builder pattern for variable that has a corresponding POJO (plain old java object) class}}
        public static class {{baseType}} {
            {{#vars}}
            {{^isReadOnly}}
            private {{{dataType}}} {{baseName}};
            {{/isReadOnly}}
            {{/vars}}

            private {{baseType}}({{#vars}}{{^isReadOnly}}{{{dataType}}} {{baseName}}{{^-last}}, {{/-last}}{{/isReadOnly}}{{/vars}}){
            {{#vars}}
            {{^isReadOnly}}
            this.{{baseName}} = {{baseName}};
            {{/isReadOnly}}
            {{/vars}}
            }

            {{#vars}}
            {{^isReadOnly}}
            public {{{dataType}}} {{getter}}(){
                return {{{baseName}}};
            }
            {{/isReadOnly}}
            {{/vars}}

            public static Builder builder() {
                return new Builder();
            }   

            public static class Builder {
                {{#vars}}
                {{^isReadOnly}}
                private {{{dataType}}} {{baseName}};
                {{/isReadOnly}}
                {{/vars}}

                public {{baseType}} build() {
                    return new {{baseType}}(
                        {{#vars}}
                        this.{{baseName}}{{^-last}},{{/-last}}
                        {{/vars}}
                    );
                }
                {{#vars}}
                {{^isArray}}
                {{^isReadOnly}}
                public Builder {{setter}}({{{dataType}}} {{baseName}}) {
                    this.{{baseName}} = {{baseName}};
                    return this;
                }
                {{/isReadOnly}}
                {{/isArray}}
                {{#isArray}}
                {{! A special case when 'var' is type of array to create 'add' and 'addAll' methods}}
                public Builder addDefault{{complexType}}({{complexType}} element) {
                    if (this.{{baseName}} == null) {
                            this.{{baseName}} = new ArrayList<>();
                    }
                    this.{{baseName}}.add(element);
                    return this;
                }

                public Builder addAllDefault{{complexType}}({{{dataType}}} elements) {
                    if (this.{{baseName}} == null) {
                            this.{{baseName}} = new ArrayList<>();
                    }
                    this.{{baseName}}.addAll(elements);
                    return this;
                }
                {{/isArray}}
                {{/vars}}
            }

    {{>api_recursion}}
        }
{{/isModel}}
{{#isArray}}
{{^isReadOnly}}
{{#items}}
    {{! Create a builder pattern for instance that is part of an array}}
    public static class {{baseType}} {
        {{#vars}}
        {{^isReadOnly}}
        private {{{dataType}}} {{baseName}};
        {{/isReadOnly}}
        {{/vars}}

        private {{baseType}}({{#vars}}{{^isReadOnly}}{{{dataType}}}  {{baseName}}{{^-last}},{{/-last}}{{/isReadOnly}}{{/vars}}){
            {{#vars}}
            this.{{baseName}} = {{baseName}};
            {{/vars}}
        }

        {{#vars}}
        {{^isReadOnly}}
        public {{{dataType}}} {{getter}}(){
            return {{{baseName}}};
        }
        {{/isReadOnly}}
        {{/vars}}

        public static Builder builder() {
            return new Builder();
        }   

        public static class Builder {
            {{#vars}}
            {{^isReadOnly}}
            private {{{dataType}}} {{baseName}};
            {{/isReadOnly}}
            {{/vars}}

            public {{baseType}} build() {
                return new {{baseType}}(
                {{#vars}}
                    his.{{baseName}}{{^-last}},{{/-last}}
                {{/vars}}
                );
            }
            {{#vars}}
            {{^isReadOnly}}
            public Builder {{setter}}({{{dataType}}} {{baseName}}) {
                this.{{baseName}} = {{baseName}};
                return this;
            }
            {{/isReadOnly}}
            {{/vars}}
        }

    {{>api_recursion}}
    }
{{/items}}
{{/isReadOnly}}
{{/isArray}}
{{/vars}}
