{{! https://community.zapier.com/developer-discussion-13/how-to-create-input-fields-for-complex-json-objects-9001 }}
{{#vendorExtensions}}{{#parentBaseName}}{{.}}__{{/parentBaseName}}{{/vendorExtensions}}{{baseName}}